body {
    font-family: "Roboto", sans-serif;
    position: relative;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 654px;
    background: #F3F3F3;
    position: relative;
}

.page-inner {
    display: none;
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff !important;
    padding: 10px;
    min-height: 600px;
}

.pad-top {
    padding-top: 15px;
}

.sidebar-collapse .nav {
    padding: 0;
    padding-top: 20px;
}

.sidebar-collapse>.nav>li>a {
    cursor: pointer;
    padding: 15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 16px;
}

.sidebar-collapse>.nav>li {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collapse .nav>li>a:hover,
.sidebar-collapse .nav>li>a:focus {

    background: #F3F3F3;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #fff;

}

.navbar-inverse {

    background-color: #214761;
    border-color: #F0F0F0;
    min-height: 70px;
}


.nav>li>a>i {
    margin-right: 10px;
}

.logout-spn {
    float: right;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

.logout-spn a {
    text-decoration: none;
}

.navbar-brand{
    height: 70px;
    padding: 10px 0;
    margin-left: 10px;
}

.active-link {
    background-color: #f3f3f3;
}

.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;

}

.div-square>a,
.div-square>a:hover {
    color: #808080;
    text-decoration: none;
}

.row{
    margin: 0;
    position: relative;
}

.panel-footer:empty{
    display: none
}

.date{
    margin-bottom: 20px;
    padding-left: 15px;
}

input[name="daterange"] {
    cursor: pointer;
    margin-right: 5px;
    height: 34px;
    vertical-align: bottom;
}

#stats .panel-body {
    position: relative;
    height: 350px;
    overflow: hidden;
}

#stats .panel-footer{
    display: block !important;
    height: 41px;
}

.chart-load {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    background-color: #214761;
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    padding-left: 20px;
}


.footer>a,
.footer>a:hover {

    color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;

    }
}

#users table,
#orders #o-block table {
    table-layout: fixed;
}

.tablesorter tr th[aria-sort="descending"] :last-child::after {
    content: "▲";
    font-size: 10px;
    padding-left: 4px;
}

.tablesorter tr th[aria-sort="ascending"] :last-child::after {
    content: "▼";
    font-size: 10px;
    padding-left: 4px;
}

/* pager wrapper, div */
.tablesorter-pager {
    padding: 5px;
    text-align: center;
}

/* pager wrapper, in thead/tfoot */
td.tablesorter-pager {
    background-color: #e6eeee;
    margin: 0;
    /* needed for bootstrap .pager gets a 18px bottom margin */
}

/* pager navigation arrows */
.tablesorter-pager img {
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}

/* pager output text */
.tablesorter-pager .pagedisplay {
    padding: 0 5px 0 5px;
    width: 50px;
    text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
    margin: 0;
    padding: 0;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.tablesorter-pager.disabled {
    display: none;
}

/* hide or fade out pager arrows when the first or last row is visible */
.tablesorter-pager .disabled {
    /* visibility: hidden */
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}

.bad-robot {
    display: block;
    margin: 30px auto;
    width: 500px;
}

/* LOADER */
.lds-roller {
    z-index: 999;
    display: inline-block;
    width: 64px;
    height: 64px;
    transform: scale(3) translateX(-50%);
    position: absolute;
    top: 200px;
    left: 50%;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #214761;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
  
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #428bca;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}