<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=title %>
    </title>

    <script src="public/js/jquery-3.3.1.min.js"></script>
    <script src="public/js/moment.min.js"></script>
    <script src="public/js/daterangepicker.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <link href="public/css/bootstrap.css" rel="stylesheet" />
    <link href="public/css/daterangepicker.css" rel="stylesheet" />
    <link href="public/css/font-awesome.css" rel="stylesheet" />
    <link href="public/css/custom.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="public/img/logo.png" />
                    </a>
                </div>

                <span class="logout-spn">
                    <a style="color:#fff;">Привет, <%=name%></a>
                </span>

                <div style="clear:both"></div>
            </div>
        </div>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li class="active-link">
                        <a data-block="main"><i class="fa fa-home"></i>Главная</a>
                    </li>

                    <li>
                        <a data-block="stats"><i class="fa fa-bar-chart-o"></i>Отчёты</a>
                    </li>
                    <li>
                        <a><i class="fa fa-users"></i>Пользователи</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-shopping-cart"></i>Заказы</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-comment"></i>Отзывы</a>
                    </li>
                    
                    <li>
                        <a href="/logout"><i class="fa fa-power-off"></i>Выход</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="page-inner" id="main">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="page-name">Главная</h2>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Основная информация
                            </div>
                            <div class="panel-body">
                                <p>%data%</p>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-inner" id="stats">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="page-name">Отчёты</h2>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="date">
                        <input type="text" name="daterange" value="09/01/2018 - 09/30/2018" />
                        <a class="btn btn-success" id="get-stats">Применить</a>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Посещаемость сайта
                            </div>
                            <div class="panel-body">
                                <div class="lds-ellipsis chart-load"><div></div><div></div><div></div><div></div></div>
                                <div class="chart" id="traffic"></div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Конверсия
                            </div>
                            <div class="panel-body">
                                <div class="lds-ellipsis chart-load"><div></div><div></div><div></div><div></div></div>
                                <div class="chart" id="conv"></div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Выручка с сайта
                            </div>
                            <div class="panel-body">
                                <div class="lds-ellipsis chart-load"><div></div><div></div><div></div><div></div></div>
                                <div class="chart" id="revenue"></div>
                            </div>
                            <div class="panel-footer">
                                Выручка за период: <span id="revenue-sum"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Средняя стоимость товара
                            </div>
                            <div class="panel-body">
                                <div class="lds-ellipsis chart-load"><div></div><div></div><div></div><div></div></div>
                                <div class="chart" id="acost"></div>
                            </div>
                            <div class="panel-footer">
                                Средняя стоимость: <span id="acost-sum"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                ARPU
                            </div>
                            <div class="panel-body">
                                <div class="lds-ellipsis chart-load"><div></div><div></div><div></div><div></div></div>
                                <div class="chart" id="arpu"></div>
                            </div>
                            <div class="panel-footer">
                                С клиента: <span id="arpu-sum"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                ARPPU
                            </div>
                            <div class="panel-body">
                                <div class="lds-ellipsis chart-load"><div></div><div></div><div></div><div></div></div>
                                <div class="chart" id="arppu"></div>
                            </div>
                            <div class="panel-footer">
                                Средний чек: <span id="arppu-sum"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>

    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                &copy; No luck. Just skill.
            </div>
        </div>
    </div>

    <script src="public/js/custom.js"></script>
</body>

</html>